#projection {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  .area {
    &.past {
      fill: lightSteelBlue;
    }
    &.future {
      fill: steelBlue;
    }
  }
}
